 <%@current_user%>
 
  <table summary = "Ideas form fields">
    <tr>
      <th>Title</th>
      <td><%= f.text_field(:title)%></td>
     </tr>
     <tr>
      <th>Content</th>
      <td><%= f.text_field(:body)%></td>
    </tr>
  
</table>