  <table summary = "Ideas form fields">
    <tr>
      <th>Title</th>
      <td><%= f.text_field(:title)%></td>
     </tr>
     <tr>
      <th>Content</th>
      <td><%= f.text_field(:body)%></td>
  </tr>
     <tr>
      <th>User ID</th>
      <td><%= f.text_field(:user_id)%></td>
  </tr>
</table>