<%= link_to "<<<Back to list", ideas_path, :class => "back-link" %>

<div class = "ideas edit">
  <h2>Create Idea</h2>
 <%= form_for(@idea) do |f| %>
   <%= render(:partial => 'form', :locals => {:f => f})%>
  <div class = "form-button"> 
    <%= f.submit("Update idea")%>
  </div>
  
  <% end %>

</div>