<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Ideas App</title>

 <style>
 span.status {
  display: block;
  width: 10px;
  height: 10px;
  margin: 0.25em auto;
  padding: 0;
  border: 1px solid pink;
 }
 span.status.true {
   background: green;
   color: green;
 }
 span.status.false {
   background: red;
   color: red;
 }

 </style>
</head>
<body>
 <% if !flash[:notice].blank?%>
  <div class = 'notice'>
    <%= flash[:notice]%>
  </div>
  <%end%>
  
  <%= yield %>

</body>
</html>